<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= blog.title %></title>
    <script src="http://www.qq.com/404/search_children.js"></script>
</head>
<body>
    
</body>
</html>